/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */

/* .Navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6vh;
}
.logo{
    margin-right: 2%;
    padding: 0 1%;
    font-size: 22px;
    background-color: #8bcaf3;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: black;
    font-family: 'Indie Flower', cursive;
}

.slider {
    width: 340px;
    margin: 0 10px;
    display: inline-block;
} */


/* .rc-slider-track {
    background-color: transparent;
} */
/* 
.rc-slider-rail{
    height: 8px;
} */

/* .rc-slider-handle,
.rc-slider-handle:focus,
.rc-slider-handle:active,
.rc-slider-handle:hover {
    background-color:#0096fa;
    outline: none;
    border: 0.75px solid rgb(255, 136, 0);
    box-shadow: inset 0 0 3px rgb(255, 136, 0);
    width: 15px;
    height: 15px;
    margin-top: -5px;
} */

/* .select-container {
    margin-left: auto;
    margin-right: 2rem;
} */